<h1 class="error">Bad Request (HTTP Status Code 400)</h1>
<p>The query of the page "<%= CGI.unescape(request.original_url) %>" led to an error.</p>
<p>If this should work, could you please create a <a target="_blank" href="https://github.com/muhme/quote/issues">ticket</a> with the details?</p>
