<h1 class="error">無効なリクエスト (HTTPステータスコード400)</h1>
<p>ページ「<%= CGI.unescape(request.original_url) %>」のクエリがエラーになりました。</p>
<p>これが機能するはずであれば、詳細を含む<a target="_blank" href="https://github.com/muhme/quote/issues">チケット</a>を作成してください。</p>
