<h1>Impressum</h1>
<p>F&uuml;r den Inhalt der Website <a href="https://www.zitat-service.de">zitat-service.de</a> ist Heiko L&uuml;bbe verantwortlich:</p>
<p>
<%= image_tag("contact.png", :alt => "Kontaktdaten mit Anschrift, Email, Telefon und Fax", :title => "Kontakt") %>
</p>
<h2>Urheberrecht</h2>
<p>Wenn Sie als Autor oder als dessen Nachlassverwalter w&uuml;nschen hier nicht zitiert zu werden,
dann informieren Sie uns bitte per Email oder Telefon.
Wir werden die Zitate, die unter Ihr Urheberrecht fallen, unverz&uuml;glich l&ouml;schen.
</p>
<h2>Zusatzerkl&auml;rung</h2>
<p>F&uuml;r den Inhalt extern verlinkter Seiten ist ausschlie&szlig;lich der jeweilige Betreiber verantwortlich.</p>
<h2>Design &amp; Entwicklung</h2>
<p>Rails Version: <%= Rails.version %> </p>
<p>Umgebung: <%= ENV['RAILS_ENV'] %></p>
<p>Die Webanwendung <a href="https://www.zitat-service.de">www.zitat-service.de</a> wurde erstellt durch:</p><p><a style="border: 0px;" href="https://www.consulting.heikol.de">
    <%= image_tag("systemberatung.png", :alt => "Link zu consulting.heiko.de", :title => "Systemberatung Heiko Lübbe") %></a>
</p>