<h1>Impressum</h1>
<p>Für den Inhalt der Website <a href="https://www.zitat-service.de">zitat-service.de</a> ist Heiko Lübbe verantwortlich:</p>
<p>
<%= image_tag("contact.png", :alt => "Kontaktdaten mit Anschrift, Email, Telefon und Fax", :title => "Kontakt") %>
</p>
<h2>Urheberrecht</h2>
<p>Wenn Sie als Autor oder als dessen Nachlassverwalter wünschen hier nicht zitiert zu werden,
dann informieren Sie uns bitte per Email oder Telefon.
Wir werden die Zitate, die unter Ihr Urheberrecht fallen, unverzüglich löschen.
</p>
<h2>Zusatzerklärung</h2>
<p>Für den Inhalt extern verlinkter Seiten ist ausschließlich der jeweilige Betreiber verantwortlich.</p>
<h2>Design &amp; Entwicklung</h2>
<p>Rails Version: <%= Rails.version %> </p>
<p>Umgebung: <%= ENV['RAILS_ENV'] %></p>
<p>Die Webanwendung <a href="https://www.zitat-service.de">www.zitat-service.de</a> wurde erstellt durch:</p><p><a style="border: 0px;" href="https://www.consulting.heikol.de">
    <%= image_tag("systemberatung.png", :alt => "Link zu consulting.heiko.de", :title => "Systemberatung Heiko Lübbe") %></a>
</p>
