<h1 class="error">Доступ заборонено (HTTP-код статусу 403)</h1>
<p>Запитана дія не може бути виконана. Для редагування цитат, авторів або категорій потрібно ваше <%= link_to "входу", login_url %> .</p>
<p>Зверніть увагу, що ви можете змінювати тільки ті цитати, авторів або категорії, які ви самі створили.</p>
<p>Якщо ви вважаєте, що сталася помилка, будь ласка, створіть <a target="_blank" href="https://github.com/muhme/quote/issues">квиток</a> з подробицями. Адміністратори будуть раді вам допомогти.</p>
<%= link_to(image_tag("arrow_undo.png", :alt => "Стрілка назад", :title => "Назад", :border => "0"), root_url, class: 'not_dashed') %></p>
