<h1 class="error">HTTP-Statuscode 403 – Nicht erlaubt</h1>
<p> Diese Seite wird angezeigt, weil eine Aktion ausgeführt wurde, die nicht erlaubt war.</p>
<p>Für das Bearbeiten von Zitaten, Autoren oder Kategorien ist eine <%= link_to "Anmeldung", login_url %> erforderlich, um dem neuen Eintrag einen Benutzer zuzuordnen, bzw. zu prüfen. ob es sich um einen selbst angelegten Eintrag handelt.
</p>
<p>Benutzer dürfen nur ihre eigenen Zitate, Autoren oder Kategorien ändern. Admins können das für alle Benutzer tun.</p>
<p>Wenn jedoch ein Fehler augetreten ist, dann schreibe uns bitte eine: <%= link_to "Email", :controller => "static_pages", :action => "contact" %></p>
<p></p><%= link_to(image_tag("arrow_undo.png", :alt => "Pfeil zurück", :title => "Zurück", :border => "0"), root_url, class: 'not_dashed') %></p>