<h1 class="error">Nicht erlaubt</h1>
<p> Diese Seite wird angezeigt, weil eine Aktion ausgeführt wurde, die nicht erlaubt war.</p>
<p>Für das Anlegen von Zitaten, Autoren oder Kategorien ist eine <%= link_to "Anmeldung", login_url %> erforderlich, um den neuen Eintrag einem Benutzer zuzuordnen.
</p>
<p>Benutzer dürfen nur ihre eigenen Zitate, Autoren oder Kategorien ändern. Admins können das für alle Benutzer tun.</p>
<p>Wenn jedoch ein Fehler augetreten ist, dann schreibe uns bitte eine: <%= link_to "Email", :controller => "static_pages", :action => "contact" %></p>
<p></p><%= link_to(image_tag("arrow_undo.png", :alt => "Pfeil zurück", :title => "Zurück", :border => "0"), root_url, class: 'not_dashed') %></p>