<h1 class="error">アクセスが拒否されました（HTTPステータスコード403）</h1>
<p>要求されたアクションを実行できませんでした。引用、著者、またはカテゴリを編集するには、あなたの<%= link_to "ログイン", login_url %>が必要です。</p>
<p>自分で作成した引用、著者、またはカテゴリのみを変更できることに注意してください。</p>
<p>エラーが発生したと思われる場合は、詳細を記載した<a target="_blank" href="https://github.com/muhme/quote/issues">チケット</a>を作成してください。管理者は喜んでお手伝いします。</p>
<%= link_to(image_tag("arrow_undo.png", :alt => "戻る矢印", :title => "戻る", :border => "0"), root_url, class: 'not_dashed') %></p>
