<h1 class="error">Access Denied (HTTP Status Code 403)</h1>
<p>The requested action could not be performed. In order to edit quotes, authors, or categories, your <%= link_to "login", login_url %> is required.</p>
<p>Please note that you are only allowed to modify quotes, authors, or categories that you have created yourself.</p>
<p>If you believe an error has occurred, please create a <a target="_blank" href="https://github.com/muhme/quote/issues">ticket</a> with the details. Administrators will be happy to help you.</p>
<%= link_to(image_tag("arrow_undo.png", :alt => "Arrow back", :title => "Back", :border => "0"), root_url, class: 'not_dashed') %></p>
