<h1 class="error">Zugriff wurde verweigert (HTTP-Statuscode 403)</h1>
<p>Die gewünschte Aktion konnte nicht ausgeführt werden. Um Zitate, Autoren oder Kategorien zu bearbeiten, ist Deine <%= link_to "Anmeldung", login_url %> erforderlich.</p>
<p>Bitte beachte, dass Du nur die Zitate, Autoren oder Kategorien ändern darfst, die Du selbst angelegt hast.</p>
<p>Wenn Du jedoch glaubst, dass ein Fehler vorliegt, dann erstelle bitte ein <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a> mit den Einzelheiten. Administratoren werden Dir gerne weiterhelfen.</p>
<%= link_to(image_tag("arrow_undo.png", :alt => "Pfeil zurück", :title => "Zurück", :border => "0"), root_url, class: 'not_dashed') %></p>
