<h1 class="error">Acceso denegado (código de estado HTTP 403)</h1>
<p>La acción solicitada no se pudo realizar. Para editar citas, autores o categorías, es necesario tu <%= link_to "inicio de sesión", login_url %> .</p>
<p>Ten en cuenta que solo puedes modificar las citas, autores o categorías que hayas creado tú mismo.</p>
<p>Si crees que ha ocurrido un error, por favor crea un <a target="_blank" href="https://github.com/muhme/quote/issues">ticket</a> con los detalles. Los administradores estarán encantados de ayudarte.</p>
<%= link_to(image_tag("arrow_undo.png", :alt => "Flecha atrás", :title => "Atrás", :border => "0"), root_url, class: 'not_dashed') %></p>
