<h1 class="error">Внутрішня помилка сервера (HTTP-код статусу 500)</h1>
<p>Вибачте, сервер не зміг обробити сторінку «<%= request.original_url %>».</p>
<p>Якщо це відбувається знову і знову, будь ласка, створіть <a target="_blank" href="https://github.com/muhme/quote/issues">квиток</a> з подробицями?</p>
