<h1 class="error">Internes Serverproblem (HTTP-Statuscode 500)</h1>
<p>Entschuldige bitte, die Seite „<%= request.original_url %>” konnte der Server nicht verarbeiten.</p>
<p>Wenn das wiederholt auftritt, kannst du uns bitte ein <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a> mit den Einzelheiten erstellen?</p>
