<h1 class="error">内部サーバーエラー（HTTPステータスコード500）</h1>
<p>申し訳ありませんが、サーバーはページ「<%= request.original_url %>」を処理できませんでした。</p>
<p>これが繰り返し発生する場合は、詳細を記載した<a target="_blank" href="https://github.com/muhme/quote/issues">チケット</a>を作成していただけますか？</p>
