<h1 class="error">Error interno del servidor (código de estado HTTP 500)</h1>
<p>Disculpa, el servidor no pudo procesar la página "<%= request.original_url %>".</p>
<p>Si esto ocurre repetidamente, ¿podrías crear un <a target="_blank" href="https://github.com/muhme/quote/issues">ticket</a> con los detalles?</p>
