<h1 class="error">Internal Server Error (HTTP Status Code 500)</h1>
<p>We apologize, the server could not process the page "<%= request.original_url %>".</p>
<p>If this occurs repeatedly, could you please create a <a target="_blank" href="https://github.com/muhme/quote/issues">issue</a> with the details?</p>
