<h1 class="error">HTTP-Statuscode 500 – Internal Server Error</h1>
<p>
Entschuldige bitte, die Seite "<%= @original_url %>" konnte der Server nicht verarbeiten.
</p>
<p>
Wenn das wiederholt auftritt, dann erstelle bitte ein <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a> mit den Einzelheiten.
</p>
