<h1 class="error">Сторінку не знайдено (HTTP-код статусу 404)</h1>
<p>Сторінку "<%= request.original_url %>" не знайдено.</p>
<p>Якщо вона повинна працювати, будь ласка, створіть <a target="_blank" href="https://github.com/muhme/quote/issues">квиток</a> з подробицями?</p>
