<h1 class="error">Seite nicht gefunden (HTTP-Statuscode 404)</h1>
<p>Entschuldige bitte, die Seite „<%= @original_url %>” wurde nicht gefunden.</p>
<p>Wenn das ein Fehler ist, kannst Du uns dann bitte ein <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a> mit den Einzelheiten erstellen?</p>