<h1 class="error">Page not found (HTTP status code 404)</h1>
<p>The page "<%= request.original_url %>" could not be found.</p>
<p>If it should be working, could you please create a <a target="_blank" href="https://github.com/muhme/quote/issues">ticket</a> with the details?</p>
