<h1 class="error">ページが見つかりません (HTTPステータスコード 404)</h1>
<p>ページ 「<%= request.original_url %>」 が見つかりませんでした。</p>
<p>もしこのページが機能しているはずであれば、詳細を記載した<a target="_blank" href="https://github.com/muhme/quote/issues">チケット</a>を作成していただけますか？</p>
