<h1 class="error">Seite nicht gefunden (HTTP-Statuscode 404)</h1>
<p>Die Seite „<%= request.original_url %>” wurde nicht gefunden.</p>
<p>Wenn das jedoch funktionieren sollte, kannst du uns bitte ein <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a> mit den Einzelheiten erstellen?</p>