<h1 class="error">404 - Nicht gefunden</h1>
<p>
Entschuldige bitte, die Seite wurde nicht gefunden.
</p>
<p>
Wenn das ein Fehler ist, dann erstelle bitte ein <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a> mit den Einzelheiten.
</p>