<h1 class="error">Página no encontrada (código de estado HTTP 404)</h1>
<p>No se pudo encontrar la página "<%= request.original_url %>".</p>
<p>Si debería funcionar, ¿podrías crear un <a target="_blank" href="https://github.com/muhme/quote/issues">ticket</a> con los detalles, por favor?</p>
