<h1>Проект</h1>
<p>
Я хотів включити власні цитати на різні теми на своїх веб-сайтах та шукав сервіс цитат, де я міг налаштувати власну колекцію цитат та відновлювати їх за темами. Такої служби я не знайшов, тому в 2006 році я створив власну базу даних зі скриптом запитів.
Тепер я написав цю веб-застосунок для керування цитатами в базі даних
і запустив його в Інтернеті 1 вересня 2007 року.
</p>
<h2>Технічне</h2>
<p>
Проект реалізовано за допомогою веб-фреймворка <a href="https://www.RubyOnRails.org">Ruby on Rails</a>. Застосунок є відкритим програмним забезпеченням і керується за адресою <a href="https://github.com/muhme/quote">https://github.com/muhme/quote</a>.
</p>
<p>Якщо ви знайшли помилку або маєте пропозицію щодо функції, будь ласка, ві
дкрийте <a target="_blank" href="https://github.com/muhme/quote/issues">квиток</a> на GitHub.</p>
<h2>Співпраця</h2>
<p>
<%= image_tag("heart.png", :alt => "Серце", :title => "Щиро дякуємо") %> Велике спасибі:
<ul>
<li>Marc James, безкоштовні <a href="https://github.com/markjames/famfamfam-silk-icons">SILK ICONS</a>, які використовуються тут</li>
<li><%= link_to 'Miguel', :controller => 'quotations', :action => 'list_by_user', :user => 'Miguel' %> який допомагає нам у керуванні цитатами</li>
</ul>
</p>
<p>Вам подобається ідея і ви хочете долучитися? Ми шукаємо:</p>
<ul>
<li>Носіїв мови – для виправлення машинних перекладів</li>
<li>Програмістів – які хочуть продовжити розвиток веб-застосунку</li>
<li>Адміністраторів – які перевіряють і затверджують нові цитати, авторів та категорії</li>
<li>Дизайнерів екранів – які хочуть надати веб-сайту класний вигляд</li>
<li>Тестерів – наприклад, на комп'ютері з Windows</li>
<li>Людей – які хочуть взяти участь у цьому проекті з задоволенням</li>
</ul>
<p>
Будь ласка, зв'яжіться з нами через <%= link_to "Email", :controller => "static_pages", :action => "contact" %>.
</p>

<h2>Перевірка Цитат</h2>
<p>Коли створюється нова цитата, будь ласка, вкажіть джерело,
   щоб уникнути неправильного цитування. Багато так званих цитат були спотворені,
   просто вигадані або помилково приписані автору як кукушине цитування.</p>
<p>Перевірку можна здійснити за допомогою <a href="https://uk.wikiquote.org">Wikiquote</a>.</p>
<p>Якщо цитата чи автор не чітко підтверджені, будь ласка, прокоментуйте цитату,
   щоб хтось інший міг її перевірити.</p>
