<h1 class="error">HTTP-Statuscode 422 – Unprocessable Entity</h1>
<p>
Entschuldige bitte, die Seite "<%= @original_url %>" konnte nicht verarbeitet werden.
</p>
<p>
Wenn das ein Fehler ist, dann erstelle bitte ein <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a> mit den Einzelheiten.
</p>
