<h1 class="error">Неможливо обробити сутність (HTTP-код статусу 422)</h1>
<p>Запит "<%= request.original_url %>" не може бути оброблений.</p>
<p>Якщо він повинен працювати, будь ласка, створіть <a target="_blank" href="https://github.com/muhme/quote/issues">квиток</a> з подробицями?</p>
