<h1>Insertar citas</h1>
<p>¿Quieres mostrar citas en tu sitio web?
   Aquí puedes aprender cómo hacerlo con el CMS Joomla, utilizando una API y mediante un iframe.
</p>

<h2>CMS</h2>
<p><%= image_tag("joomla_16x16.png", :alt => "Joomla!", :title => "Joomla!") %>
   Hay un módulo Joomla dedicado para la integración de citas en el CMS Joomla: Puede encontrar ayuda aquí: <a href="https://github.com/muhme/quote_joomla/wiki/Ayuda">Ayuda</a>.
</p>
<p><%= image_tag("wordpress.png", :alt => "WordPress logo", :title => "WordPress", size: '16x16') %>
   Hay un plugin WordPress dedicado para la integración de citas en el CMS WordPress. Hay ayuda para esto en inglés: <a href="https://github.com/muhme/quote_wordpress/wiki">Ayuda</a>.
</p>

<h2>API</h2>
<p>Hay una Application Programming Interface (API) disponible en: <a href="https://api.zitat-service.de" target="_blank">https://api.zitat-service.de</a>.
   Por ejemplo, el siguiente enlace proporciona una cita aleatoria en el idioma español:<br />
   <a href="https://api.zitat-service.de/v1/quote_html?language=es" target="_blank">https://api.zitat-service.de/v1/quote_html?language=es</a>.
  Con el <a href="https://api.zitat-service.de/v1/explorer" target="_blank">API Explorer</a> puedes ver los parámetros disponibles, listar las IDs y realizar pruebas.
</p>

<h3>Iframe</h3>
<p>
Puedes mostrar las citas en tu página usando un iframe (por inline frame o marco incorporado).
El diseño se puede adaptar con Cascading Style Sheets (CSS). Aquí tienes un ejemplo:</p>
<iframe src="https://api.zitat-service.de/v1/quote_html?language=es&target=quotes&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"></iframe>
<p>El código iframe para esta integración es:
<div class="code">&lt;iframe src="https://api.zitat-service.de/v1/quote_html?language=es&target=quotes&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"&gt;&lt;/iframe&gt;</div>
</p>
<p>Para una primera prueba, puedes usar este código directamente.</p>

<h3>CSS</h3>
<p>Cuando hayas integrado el iframe en tu sitio web, puedes personalizar el diseño.
Para ello, puedes usar el archivo <a href="https://www.zitat-service.de/quote.css">quote.css</a> como plantilla y adaptarlo a tus necesidades. Luego integra tu propio CSS usando el parámetro <code>style</code>.
El elemento DIV de la clase <i>quote</i> envuelve toda la cita, aquí puedes, por ejemplo, establecer un marco. Contiene dos elementos DIV, las clases <i>quotation</i> para la cita y <i>source</i> para el autor y la fuente.</h3>

<h3>Parámetros</h3>
<p>Puedes ajustar la selección de las citas usando varios parámetros.
Siempre se utilizan las IDs como números únicos.
Por ejemplo, una cita aleatoria en inglés (language=en) en la categoría Política (categoryId=147):
<br /><a href="https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en" target="_blank">https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en</a></p>
<p>Los parámetros para el autor (authorId), la categoría (categoryId), el usuario (userId) y el idioma (language) pueden combinarse.</p>
<p>El parámetro <i>target</i> es crucial para la integración en una página web, por ejemplo, mediante un iframe.
   Por razones de seguridad, no se permite abrir una nueva página web dentro de la página original.
   El parámetro <i>target</i> ahora permite abrir los enlaces en una nueva pestaña o ventana.
</p>

<h2>Ejemplos prácticos</h2>
<p>Como inspiración, algunos sitios web que han incorporado el servicio de citas (situación 3 de febrero de 2024):</p>
<ul>
  <li><a target="_blank" href="https://viskeert.de">Interessengemeinschaft Visquard</a> (iframe in one.com kit de construcción de sitios web, categoría Frisia oriental)</li>
  <li><a target="_blank" href="http://szloszjar.com">Georg Szloszjar</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.ewattingen.com">Michael Faller – WebDesign und mehr</a> (Joomla, nueva pestaña)</li>
  <li><a target="_blank" href="https://www.augederseele.de">Foto- und Videoblog von Angel und Andreas</a> (Joomla)</li>
  <li><a target="_blank" href="http://www.dombergen.de/vwl">dombergen.de/vwl</a> (Joomla, Kategorie Geld, Autor Keynes)</li>
  <li><a target="_blank" href="https://buggy-club-schweiz.ch">Buggy Club Schweiz</a> (Joomla)</li>
  <li><a target="_blank" href="https://samariter-niedergoesgen.ch">Samariterverein Niedergösgen</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.consulting.heikol.de/en">Systemberatung Heiko Lübbe</a> (Hugo, categoría programming, language English, usuario heiko, JSON)</li>
  <li><a target="_blank" href="https://www.heikol.de">Hausseite Heiko Lübbe</a> (iframe)</li>
</ul>

