<h1>Вставка цитат</h1>
<p>
Хочете відображати цитати на вашому веб-сайті? Ось як це можна зробити.
Клацніть на посилання нижче. Кожен раз, коли ви перезавантажуєте сторінку, ви будете бачити нову цитату:<br />
<a href="https://api.zitat-service.de/v1/quote_html?language=uk" target="_blank">https://api.zitat-service.de/v1/quote_html?language=uk</a><br />
</p>
<h2>Joomla</h2>
<p>Ось як ви можете інтегрувати цитати у CMS Joomla: <a href="/uk/joomla">Інструкції для Joomla</a>.</p>
<h2>API</h2>
<p>Доступний інтерфейс програмування застосунків (API) за адресою:
<a href="https://api.zitat-service.de" target="_blank">https://api.zitat-service.de</a>.
За допомогою <a href="https://api.zitat-service.de/v1/explorer" target="_blank">API Explorer</a> ви можете переглядати доступні параметри, список ID та проводити тести.</p>
<h3>IFRAME та CSS</h3>
<p>
Ви можете відображати цитати на своїй сторінці за допомогою iframe.
Дизайн можна налаштовувати за допомогою каскадних таблиць стилів (CSS). Ось приклад:</p>
<iframe src="https://api.zitat-service.de/v1/quote_html?language=uk&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"></iframe>
<p>Код iframe для цієї інтеграції:
<div class="code">&lt;iframe src="https://api.zitat-service.de/v1/quote_html?language=uk&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"&gt;&lt;/iframe&gt;</div>
</p>
<p>Для першого тесту ви можете використовувати цей код безпосередньо.</p>
<h3>CSS</h3>
<p>Після того як ви вставили iframe на ваш веб-сайт, ви можете налаштувати його дизайн.
Для цього ви можете використовувати файл <a href="https://www.zitat-service.de/quote.css">quote.css</a> як шаблон та налаштовувати його для себе. Потім прив’яжіть свій користувацький CSS за допомогою параметра <code>style</code>.
Елемент DIV класу <i>quote</i> обгортає всю цитату, тому, наприклад, ви можете встановити рамку. Усередині є два елементи DIV з класами <i>quotation</i> для самої цитати та <i>source</i> для автора та джерела.
<h3>Параметри</h3>
<p>Ви можете налаштовувати вибір цитат за допомогою різних параметрів.
Унікальні номери, ID, завжди використовуються.
Наприклад, випадкова цитата англійською мовою (language=en) у категорії Політика (categoryId=147):<br /><a href="https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en" target="_blank">https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en</a>
<p>Ви можете комбінувати параметри для автора (authorId), категорії (categoryId), користувача (userId) та мови (language).
<h2>Практичні приклади</h2>
<p>Як натхнення, ось деякі веб-сайти, які інтегрували сервіс цитат (станом на 1 травня 2023 року):</p>
<ul>
  <li><a target="_blank" href="http://szloszjar.com">Georg Szloszjar</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.ewattingen.com">Michael Faller – WebDesign und mehr</a> (Joomla, нова вкладка)</li>
  <li><a target="_blank" href="https://www.augederseele.de">Foto- und Videoblog von Angel und Andreas</a> (Joomla)</li>
  <li><a target="_blank" href="http://www.dombergen.de/vwl">dombergen.de/vwl</a> (Joomla, категорія Geld, автор Keynes)</li>
  <li><a target="_blank" href="https://buggy-club-schweiz.ch">Buggy Club Schweiz</a> (Joomla)</li>
  <li><a target="_blank" href="https://samariter-niedergoesgen.ch">Samariterverein Niedergösgen</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.consulting.heikol.de">Systemberatung Heiko Lübbe</a> (Hugo, категорія programming, користувач heiko)</li>
  <li><a target="_blank" href="https://www.heikol.de">Hausseite Heiko Lübbe</a> (iframe)</li>
</ul>
