<h1>引用を組み込む</h1>
<p>
あなたのウェブサイトに引用を表示したいですか？ その方法をこちらで紹介します。
以下のリンクをクリックしてください。ページをリロードするたびに新しい引用が表示されます：<br />
<a href="https://api.zitat-service.de/v1/quote_html?language=ja" target="_blank">https://api.zitat-service.de/v1/quote_html?language=ja</a><br />
</p>
<h2>Joomla</h2>
<p>CMS Joomlaに引用を組み込む方法：<a href="/ja/joomla">Joomlaのためのガイド</a>。</p>
<h2>API</h2>
<p>Application Programming Interface (API) が利用可能です：
<a href="https://api.zitat-service.de" target="_blank">https://api.zitat-service.de</a>。
<a href="https://api.zitat-service.de/v1/explorer" target="_blank">API Explorer</a>で利用可能なパラメーターを確認したり、IDをリストしたり、テストを行うことができます。</p>
<h3>IFRAMEとCSS</h3>
<p>
iframeを使用してページに引用を表示することができます。
デザインはCascading Style Sheets (CSS) でカスタマイズすることができます。以下は例です：</p>
<iframe src="https://api.zitat-service.de/v1/quote_html?language=ja&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"></iframe>
<p>この組み込みのためのiframeコードは：
<div class="code">&lt;iframe src="https://api.zitat-service.de/v1/quote_html?language=ja&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"&gt;&lt;/iframe&gt;</div>
</p>
<p>最初のテストとして、このコードをそのまま使用することができます。</p>
<h3>CSS</h3>
<p>あなたのウェブサイトにiframeを組み込んだら、デザインを個別にカスタマイズすることができます。
そのためには<a href="https://www.zitat-service.de/quote.css">quote.css</a>のファイルをテンプレートとして使用し、あなたのニーズに合わせてカスタマイズすることができます。あなたの独自のCSSは<code>style</code> パラメーターで組み込むことができます。
<div>クラス<i>quote</i>のDIV要素は全体の引用を囲んでおり、ここで枠を設定することができます。含まれるのは、引用のためのクラス<i>quotation</i>と著者やソースのためのクラス<i>source</i>の2つのDIV要素です。</div>
<h3>パラメータ</h3>
<p>さまざまなパラメーターで引用の選択をカスタマイズすることができます。
IDは常に一意の番号として使用されます。
例として、英語（language=en）で、政治（categoryId=147）のカテゴリーのランダムな引用：<br /><a href="https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en" target="_blank">https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en</a></p>
<h2>実践例</h2>
<p>引用サービスを組み込んだいくつかのウェブサイトの提案（2023年5月1日現在）：</p>
<ul>
  <li><a target="_blank" href="http://szloszjar.com">Georg Szloszjar</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.ewattingen.com">Michael Faller – WebDesign und mehr</a> (Joomla, 新しいタブ)</li>
  <li><a target="_blank" href="https://www.augederseele.de">Angel und Andreasの写真とビデオブログ</a> (Joomla)</li>
  <li><a target="_blank" href="http://www.dombergen.de/vwl">dombergen.de/vwl</a> (Joomla, カテゴリーお金、著者Keynes)</li>
  <li><a target="_blank" href="https://buggy-club-schweiz.ch">Buggy Club Schweiz</a> (Joomla)</li>
  <li><a target="_blank" href="https://samariter-niedergoesgen.ch">Samariterverein Niedergösgen</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.consulting.heikol.de">Systemberatung Heiko Lübbe</a> (Hugo, カテゴリー プログラミング, ユーザー heiko, 言語 ドイツ語, JSON)</li>
  <li><a target="_blank" href="https://www.heikol.de">Heiko Lübbeのホームページ</a> (iframe, HTML)</li>
</ul>
