<h1>Zitate einbinden</h1>
<p>Möchtest du Zitate auf Deiner Website anzeigen?
   Hier erfährst du, wie das mit WordPress, Joomla, mit der API und per iFrame machen kannst.
</p>

<h2>Content Managament Systeme (CMS)</h2>
<p><%= image_tag("joomla_16x16.png", :alt => "Joomla! logo", :title => "Joomla!") %>
   Es gibt ein Joomla-Modul zur Einbindung der Zitate in das CMS Joomla. Dafür gibt es hier: <a href="https://github.com/muhme/quote_joomla/wiki/Hilfe">Hilfe</a>.
</p>
<p><%= image_tag("wordpress.png", :alt => "WordPress logo", :title => "WordPress", size: '16x16') %>
   Es gibt ein WordPress-Plugin zur Einbindung der Zitate in das CMS WordPress. Dafür gibt es hier: <a href="https://github.com/muhme/quote_wordpress/wiki/Hilfe">Hilfe</a>.
</p>

<h2>API</h2>
<p>Es steht ein Application Programming Interface (API) zur Verfügung unter:
   <a href="https://api.zitat-service.de" target="_blank">https://api.zitat-service.de</a>.
   Zum Beispiel liefert der Link
   <a href="https://api.zitat-service.de/v1/quote_html?language=de" target="_blank">https://api.zitat-service.de/v1/quote_html?language=de</a> ein zufälliges Zitat in deutscher Sprache.
   Mit dem <a href="https://api.zitat-service.de/v1/explorer" target="_blank">API Explorer</a> kannst du die verfügbaren Parameter sehen, IDs auflisten und Tests durchführen.
</p>

<h3>iFrame</h3>
<p>Du kannst die Zitate mittels eines iFrame auf deiner Seite anzeigen.
   Das Design lässt sich dabei mit Cascading Style Sheets (CSS) anpassen. Hier siehst du ein Beispiel:
</p>
<iframe src="https://api.zitat-service.de/v1/quote_html?language=de&target=quotes&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"></iframe>
<p>Der iFrame-Code für diese Einbindung ist:
   <div class="code">&lt;iframe src="https://api.zitat-service.de/v1/quote_html?language=de&target=quotes&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"&gt;&lt;/iframe&gt;</div>
</p>
<p class="clear-both">Für einen ersten Test kannst du diesen Code direkt übernehmen.</p>

<h3>CSS</h3>
<p>Wenn Du das iFrame in Deiner Website eingebunden hast, kannst Du das Design individuell gestalten.
Dazu kannst Du als Vorlage die Datei <a href="https://www.zitat-service.de/quote.css">quote.css</a> benutzen und für Dich anpassen. Dein eigenes CSS bindest Du dann mit dem Parameter <code>style</code> ein</b>.
Das DIV-Element der Klasse <i>quote</i> umschließt das gesamte Zitat, hier kannst Du z.B. einen Rahmen setzen. Enthalten sind zwei DIV-Elemente der Klassen <i>quotation</i> für das Zitat und <i>source</i> für den Autor und die Quelle.

<h3>Parameter</h3>
<p>Die Auswahl der Zitate kannst du mit verschiedenen Parameterm anpassen.
Dabei werden immer die IDs als eindeutige Nummern genutzt.
Als Beispiel ein Zufallszitat auf Deutsch (language=de) von Albert Einstein (authorId=20):<br /><a href="https://api.zitat-service.de/v1/quote_html?authorId=20&language=de" target="_blank">https://api.zitat-service.de/v1/quote_html?authorId=20&language=de</a>
<p>Die Parameter für den Autor (authorId), die Kategorie (categoryId), den Benutzer (userId) und die Sprache (language) können kombiniert werden.
<p>Der Parameter <i>target</i> ist entscheidend für die Integration in eine Webseite, beispielsweise mittels eines iFrames.
   Aus Sicherheitsgründen ist das Öffnen einer neuen Webseite innerhalb der Originalseite nicht gestattet.
   Der <i>target</i>-Parameter ermöglicht nun das Öffnen der Links in einem neuen Tab oder Fenster.
</p>
<h2>Praxis-Beispiele</h2>
<p>Als Anregung einige Websites, die den Zitat-Service eingebunden haben (Stand 16. April 2025):</p>
<ul>
  <li><a target="_blank" href="https://viskeert.de">Interessengemeinschaft Visquard</a> (API, iFrame, one.com Website-Baukasten, Kategorie Ostfriesland)</li>
  <li><a target="_blank" href="http://szloszjar.com">Georg Szloszjar</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.priessnitz-verein.de">Prießnitz-Verein Volksgesundheit, Siedlung Oberer Waldteich e. V.</a> (WordPress)</li>
  <li><a target="_blank" href="https://www.computeria-solothurn.ch">Computeria Solothurn</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.ewattingen.com">Michael Faller – WebDesign und mehr</a> (Joomla, neuer Tab)</li>
  <li><a target="_blank" href="https://buggy-club-schweiz.ch">Buggy Club Schweiz</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.consulting.heikol.de">Systemberatung Heiko Lübbe</a> (API, JavaScript, Kategorie Programmieren, Benutzer heiko, Sprache Deutsch)</li>
  <li><a target="_blank" href="https://www.heikol.de">Hausseite Heiko Lübbe</a> (API, iFrame)</li>
</ul>
