<h1>Вставка цитат</h1>
<p>Хочете відображати цитати на вашому веб-сайті?
   Тут ви можете дізнатися, як це зробити за допомогою WordPress, Joomla, за допомогою API та через iFrame.
</p>

<h2>Content Managament Systems (CMS)</h2>
<p><%= image_tag("joomla_16x16.png", :alt => "Joomla!", :title => "Joomla!") %>
   Існує модуль Joomla для інтеграції цитат в CMS Joomla: Тут ви можете знайти допомогу: <a href="https://github.com/muhme/quote_joomla/wiki/%D0%94%D0%BE%D0%BF%D0%BE%D0%BC%D0%BE%D0%B3%D0%B0">Допомога</a>.
</p>
<p><%= image_tag("wordpress.png", :alt => "WordPress logo", :title => "WordPress", size: '16x16') %>
   Існує модуль Joomla для інтеграції цитат в CMS WordPress. Тут ви можете знайти допомогу: <a href="https://github.com/muhme/quote_wordpress/wiki/%D0%94%D0%BE%D0%BF%D0%BE%D0%BC%D0%BE%D0%B3%D0%B0">Допомога</a>.
</p>

<h2>API</h2>
<p>Доступний інтерфейс програмування застосунків (API) за адресою: <a href="https://api.zitat-service.de" target="_blank">https://api.zitat-service.de</a>.
   Наприклад, наступне посилання надає випадкову цитату українською мовою:
   <a href="https://api.zitat-service.de/v1/quote_html?language=uk" target="_blank">https://api.zitat-service.de/v1/quote_html?language=uk</a>.
   За допомогою <a href="https://api.zitat-service.de/v1/explorer" target="_blank">API Explorer</a> ви можете переглядати доступні параметри, список ID та проводити тести.
</p>

<h3>Iframe</h3>
<p>
Ви можете відображати цитати на своїй сторінці за допомогою iframe.
Дизайн можна налаштовувати за допомогою каскадних таблиць стилів (CSS). Ось приклад:</p>
<iframe src="https://api.zitat-service.de/v1/quote_html?language=uk&target=quotes&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"></iframe>
<p>Код iframe для цієї інтеграції:
<div class="code">&lt;iframe src="https://api.zitat-service.de/v1/quote_html?language=uk&target=quotes&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"&gt;&lt;/iframe&gt;</div>
</p>
<p>Для першого тесту ви можете використовувати цей код безпосередньо.</p>

<h3>CSS</h3>
<p>Після того як ви вставили iframe на ваш веб-сайт, ви можете налаштувати його дизайн.
Для цього ви можете використовувати файл <a href="https://www.zitat-service.de/quote.css">quote.css</a> як шаблон та налаштовувати його для себе. Потім прив’яжіть свій користувацький CSS за допомогою параметра <code>style</code>.
Елемент DIV класу <i>quote</i> обгортає всю цитату, тому, наприклад, ви можете встановити рамку. Усередині є два елементи DIV з класами <i>quotation</i> для самої цитати та <i>source</i> для автора та джерела.

<h3>Параметри</h3>
<p>Ви можете налаштовувати вибір цитат за допомогою різних параметрів.
Унікальні номери, ID, завжди використовуються.
Наприклад, випадкова цитата англійською мовою (language=en) у категорії Політика (categoryId=147):<br /><a href="https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en" target="_blank">https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en</a>
<p>Ви можете комбінувати параметри для автора (authorId), категорії (categoryId), користувача (userId) та мови (language).
<p>Параметр <i>target</i> є важливим для інтеграції у веб-сторінку, наприклад, за допомогою iframe.
   З міркувань безпеки, відкриття нової веб-сторінки всередині оригінальної сторінки не дозволяється.
   Параметр <i>target</i> тепер дозволяє відкривати посилання у новій вкладці або вікні.
</p>

<h2>Практичні приклади</h2>
<p>Як натхнення, ось деякі веб-сайти, які інтегрували сервіс цитат (Статус 3 лютого 2024 року):</p>
<ul>
  <li><a target="_blank" href="https://viskeert.de">Interessengemeinschaft Visquard</a> (API, iframe, Конструкторі сайтів one.com, категорія Східна Фризія)</li>
  <li><a target="_blank" href="http://szloszjar.com">Georg Szloszjar</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.priessnitz-verein.de">Prießnitz-Verein Volksgesundheit, Siedlung Oberer Waldteich e. V.</a> (WordPress)</li>
  <li><a target="_blank" href="https://www.computeria-solothurn.ch">Computeria Solothurn</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.ewattingen.com">Michael Faller – WebDesign und mehr</a> (Joomla, нова вкладка)</li>
  <li><a target="_blank" href="https://buggy-club-schweiz.ch">Buggy Club Schweiz</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.consulting.heikol.de/en">Systemberatung Heiko Lübbe</a> (API, JavaScript, категорія programming, English, користувач heiko)</li>
  <li><a target="_blank" href="https://www.heikol.de">Hausseite Heiko Lübbe</a> (API, iframe)</li>
</ul>
