<h1>Zitate einbinden</h1>
<p>
Du kannst die Zitate in Deine Homepage einbauen.
Probiere doch einmal den Aufruf: <a href="https://www.zitat-service.de/quote" target="_blank">https://www.zitat-service.de/quote</a>. Mit "Seite neu Laden" erhältst Du das nächste Zufallszitat in Deinem Browser.
</p>
<h2>Joomla</h2>
<p>Die Einbindung mit dem CMS Joomla wird hier beschrieben: <a href="/joomla">joomla</a>.</p>
<h2>IFRAME und CSS</h2>
<p>
Die Einbindung in Deine Seiten erfolgt mit inline frames (iframe) und kann mit cascading stylesheets (CSS) an Deine Seite angepasst werden. Hier erst einmal ein Beispiel, wie das dann aussieht:
</p>
<iframe src="https://www.zitat-service.de/quote?style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"></iframe>
<p>Der iframe-Eintrag in dieser Seite ist:
<div class="code">&lt;iframe src="https://www.zitat-service.de/quote?style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"&gt;&lt;/iframe&gt;</div>
</p>
<p style="clear: both;">Übernimm ihn einfach für Deinen ersten Test.</p>
<h2>CSS</h2>
<p>Wenn Du das iframe erfolgreich in Deine Seite eingebunden hast,
dann kannst Du Dir selbst ein CSS-Datei nach Deinen Wünschen gestalten.
Dazu kannst Du als Vorlage <a href="https://www.zitat-service.de/quote.css">quote.css</a> benutzen und für Dich anpassen. Dein eigenes CSS bindest Du dann mit dem Parameter <code>style</code> ein</b>.
Das DIV-Element der Klasse <i>quote</i> umschließt das gesamte Zitat, hier kannst Du z.B. einen Rahmen setzen. Enthalten sind zwei DIV-Elemente der Klassen <i>quotation</i> für das Zitat und <i>source</i> für den Autor und die Quelle.
<h2>Parameter</h2>
<p>Für die Zitat-Abfrage kannst Du - neben dem Parameter <i>style</i> für das Stylesheet - die Parameter
<i>category</i> für die Kategorie, <i>user</i> für den Benutzernamen des Zitat-Erstellers und <i>author</i> für den Namen des Zitat-Autors angeben.
Du erhältst dann nur Zitate aus dieser Kategorie, von diesem Benutzer oder dem Autoren mit diesem Nachnamen.
Die Zitate von Einstein erhältst Du z.B. mit:
<div class="code">https://www.zitat-service.de/quote?author=Einstein</code></div>
<p style="clear: both;">Mit dem Parameter <i>content_only</i> wird das Zitat nur mit CSS-DIV's, also ohne HTML-header, geliefert.</p>
<p>Mit dem Parameter <i>encoding</i> wird die Kodierung angegeben. Voreingestellt ist ISO-8859-1, eine Änderung in z.B. UTF-8 ist mit diesem Parameter möglich.</p>
<p>
Ein weiterer Parameter ist <i>window</i>. Ohne diesen Parameter werden Links im aktuellen Fenster (_parent) geöffnet. Mit z.B. <i>window=quote</i> werden die Links dann in einem neuen Fenster geöffnet.</p>
</p>
<p>Die Parameter können auch kombiniert werden. Die Abfrage aller Zitate des Benutzers "heiko" aus der Kategorie "WasBedeutetLiebe" und mit der Angabe eines Stylesheets erfolgt zum Beispiel mit:
<div class="code">https://www.zitat-service.de/quote?user=heiko&category=WasBedeutetLiebe&style=https://www.zitat-service.de/quote.css</code></div>
<h2 style="clear: both; margin-top: 3em;">Praxis-Beispiele</h2>
<p>Als Anregung ein Dutzend Websites, die den Zitat-Service eingebunden haben (Stand 27. September 2022):</p>
<ul>
  <li><a target="_blank" href="https://www.kinderwerkstattwissen.de">Kinderwerkstatt Wissen</a> (Joomla, Kategorie Wissen)</li>
  <li><a target="_blank" href="http://szloszjar.com">Georg Szloszjar</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.ewattingen.com">Michael Faller – WebDesign und mehr</a> (Joomla, neuer Tab)</li>
  <li><a target="_blank" href="https://www.augederseele.de">Foto- und Videoblog von Angel und Andreas</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.bueroservice-rundum.de">Büroservice rundum</a> (Joomla, neuer Tab)</li>
  <li><a target="_blank" href="http://gewerbering.at/">Gewerbering Strasshof</a> (Joomla)</li>
  <li><a target="_blank" href="http://www.dombergen.de/vwl">dombergen.de/vwl</a> (Joomla, Kategorie Geld, Autor Keynes)</li>
  <li><a target="_blank" href="http://www.physio-gaildorf.de">Sabine Preinesberger physio</a> (Joomla)</li>
  <li><a target="_blank" href="https://buggy-club-schweiz.ch">Buggy Club Schweiz</a> (Joomla)</li>
  <li><a target="_blank" href="https://samariter-niedergoesgen.ch">Samariterverein Niedergösgen</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.consulting.heikol.de">Systemberatung Heiko Lübbe</a> (Hugo, Kategorie programming, Benutzer heiko)</li>
  <li><a target="_blank" href="https://www.heikol.de">Hausseite Heiko Lübbe</a> (iframe)</li>
</ul>
