<h1>Embedding Quotes</h1>
<p>Do you want to display quotes on your website?
   Here you can find out how to do this with WordPress, Joomla, with the API and via iFrame.
</p>

<h2>Content Management Systems (CMS)</h2>
<p><%= image_tag("joomla_16x16.png", :alt => "Joomla!", :title => "Joomla!") %>
   There is a Joomla module for integrating quotes into the CMS Joomla. It is documented here: <a href="https://github.com/muhme/quote_joomla/wiki">Help</a>.
</p>
<p><%= image_tag("wordpress.png", :alt => "WordPress logo", :title => "WordPress", size: '16x16') %>
   There is a WordPress plugin for integrating quotes into the CMS CMS WordPress. It is documented here: <a href="https://github.com/muhme/quote_wordpress/wiki">Help</a>.
</p>

<h2>API</h2>
<p>An Application Programming Interface (API) is available at: <a href="https://api.zitat-service.de" target="_blank">https://api.zitat-service.de</a>.
   For example, the following link provides a random quote in the English language:
   <a href="https://api.zitat-service.de/v1/quote_html?language=en" target="_blank">https://api.zitat-service.de/v1/quote_html?language=en</a>.
   With the <a href="https://api.zitat-service.de/v1/explorer" target="_blank">API Explorer</a> you can view the available parameters, list IDs, and perform tests.
</p>

<h3>Iframe</h3>
<p>
You can display the quotes on your page using an inline frame (iframe).
The design can be customized using Cascading Style Sheets (CSS). Here's an example:</p>
<iframe src="https://api.zitat-service.de/v1/quote_html?language=en&target=quotes&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"></iframe>
<p>The iframe code for this integration is:
<div class="code">&lt;iframe src="https://api.zitat-service.de/v1/quote_html?language=en&target=quotes&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"&gt;&lt;/iframe&gt;</div>
</p>
<p>For a first test, you can use this code directly.</p>

<h3>CSS</h3>
<p>Once you've embedded the iframe on your website, you can customize its design.
For this, you can use the file <a href="https://www.zitat-service.de/quote.css">quote.css</a> as a template and customize it for yourself. Then, bind your custom CSS using the <code>style</code> parameter.
The DIV element of the <i>quote</i> class wraps around the entire quote, so you can, for instance, set a border. Inside, there are two DIV elements with classes <i>quotation</i> for the quote itself and <i>source</i> for the author and the source.

<h3>Parameters</h3>
<p>You can customize the selection of quotes using different parameters.
Unique numbers, the IDs, are always used.
For example, a random quote in English (language=en) in category Politics (categoryId=147):<br /><a href="https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en" target="_blank">https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en</a>
<p>You can combine parameters for the author (authorId), the category (categoryId), the user (userId), and the language (language).
<p>The <i>target</i> parameter is crucial for integrating into a webpage, for example, using an iframe.
   For security reasons, opening a new webpage within the original page is not allowed.
   The <i>target</i> parameter now allows for the links to be opened in a new tab or window.
</p>

<h2>Practical Examples</h2>
<p>As inspiration, here are some websites that have integrated the Quote Service (as of April 16, 2025):</p>
<ul>
  <li><a target="_blank" href="https://viskeert.de">Interessengemeinschaft Visquard</a> (API, iframe, one.com website builder, category East Frisia)</li>
  <li><a target="_blank" href="http://szloszjar.com">Georg Szloszjar</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.priessnitz-verein.de">Prießnitz-Verein Volksgesundheit, Siedlung Oberer Waldteich e. V.</a> (WordPress)</li>
  <li><a target="_blank" href="https://www.computeria-solothurn.ch">Computeria Solothurn</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.ewattingen.com">Michael Faller – WebDesign und mehr</a> (Joomla, new tab)</li>
  <li><a target="_blank" href="https://buggy-club-schweiz.ch">Buggy Club Schweiz</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.consulting.heikol.de/en">Systemberatung Heiko Lübbe</a> (API, JavaScript, category programming, language English, user heiko)</li>
  <li><a target="_blank" href="https://www.heikol.de">Hausseite Heiko Lübbe</a> (API, iframe)</li>
</ul>
