<h1>Incluir citas</h1>
<p>
Puedes incorporar las citas en tu página web.
Prueba a visitar: <a href="https://www.zitat-service.de/quote" target="_blank">https://www.zitat-service.de/quote</a>. Con "Actualizar página" obtendrás la siguiente cita aleatoria en tu navegador.
</p>
<h2>Joomla</h2>
<p>La integración con el CMS Joomla se describe aquí: <a href="/es/joomla">joomla</a>.</p>
<h2>IFRAME y CSS</h2>
<p>
La integración en tus páginas se realiza mediante marcos en línea (iframe) y se puede personalizar con hojas de estilo en cascada (CSS). Aquí tienes un ejemplo de cómo se vería:
</p>
<iframe src="https://www.zitat-service.de/quote?style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"></iframe>
<p>La entrada del iframe en esta página es:
<div class="code">&lt;iframe src="https://www.zitat-service.de/quote?style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"&gt;&lt;/iframe&gt;</div>
</p>
<p style="clear: both;">Simplemente cópialo para tu primera prueba.</p>
<h2>CSS</h2>
<p>Una vez que hayas incorporado correctamente el iframe en tu página,
puedes crear tu propio archivo CSS según tus preferencias.
Para ello, puedes utilizar como plantilla <a href="https://www.zitat-service.de/quote.css">quote.css</a> y adaptarlo para ti. Luego, incluye tu propio CSS con el parámetro <code>style</code>.
El elemento DIV de la clase <i>quote</i> rodea la cita completa, aquí puedes, por ejemplo, establecer un borde. Contiene dos elementos DIV de las clases <i>quotation</i> para la cita y <i>source</i> para el autor y la fuente.
<h2>Parámetros</h2>
<p>Para la consulta de citas, además del parámetro <i>style</i> para la hoja de estilo, puedes especificar los parámetros
<i>category</i> para la categoría, <i>user</i> para el nombre de usuario del creador de la cita y <i>author</i> para el nombre del autor de la cita.
Entonces, solo recibirás citas de esa categoría, de ese usuario o del autor con ese apellido.
Las citas de Einstein, por ejemplo, las obtienes con:
<div class="code">https://www.zitat-service.de/quote?author=Einstein</code></div>
<p style="clear: both;">Con el parámetro <i>content_only</i>, la cita se proporciona solo con los DIV de CSS, es decir, sin encabezado HTML.</p>
<p>Con el parámetro <i>encoding</i> se indica la codificación. El valor predeterminado es ISO-8859-1, pero se puede cambiar a, por ejemplo, UTF-8 con este parámetro.</p>
<p>
Otro parámetro es <i>window</i>. Sin este parámetro, los enlaces se abrirán en la ventana actual (_parent). Con, por ejemplo, <i>window=quote</i>, los enlaces se abrirán en una ventana nueva.</p>
</p>
<p>Los parámetros también se pueden combinar. La consulta de todas las citas del usuario "heiko" en la categoría "WasBedeutetLiebe" e incluyendo una hoja de estilo se realiza, por ejemplo, con:
<div class="code">https://www.zitat-service.de/quote?user=heiko&category=WasBedeutetLiebe&style=https://www.zitat-service.de/quote.css</code></div>
<h2 style="clear: both; margin-top: 3em;">Ejemplos prácticos</h2>
<p>Como inspiración, algunas páginas web que han integrado el servicio de citas (a partir del 1 de mayo de 2023):</p>
<ul>
  <li><a target="_blank" href="http://szloszjar.com">Georg Szloszjar</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.ewattingen.com">Michael Faller – WebDesign und mehr</a> (Joomla, nueva pestaña)</li>
  <li><a target="_blank" href="https://www.augederseele.de">Foto- und Videoblog von Angel und Andreas</a> (Joomla)</li>
  <li><a target="_blank" href="http://www.dombergen.de/vwl">dombergen.de/vwl</a> (Joomla, Kategorie Geld, Autor Keynes)</li>
  <li><a target="_blank" href="https://buggy-club-schweiz.ch">Buggy Club Schweiz</a> (Joomla)</li>
  <li><a target="_blank" href="https://samariter-niedergoesgen.ch">Samariterverein Niedergösgen</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.consulting.heikol.de">Systemberatung Heiko Lübbe</a> (Hugo, categoría programming, usuario heiko)</li>
  <li><a target="_blank" href="https://www.heikol.de">Hausseite Heiko Lübbe</a> (iframe)</li>
</ul>
