<h1>引用を組み込む</h1>
<p>ウェブサイトに引用を表示したいですか？
   CMS Joomla、APIを使う方法、iframeを通じての方法をここで学べます。
</p>

<h2>Content Managament Systems</h2>
<p><%= image_tag("joomla_16x16.png", :alt => "Joomla!", :title => "Joomla!") %>
   CMSのJoomlaに見積もりを統合するためのJoomlaのモジュールがあります。こちらでヘルプが見つかります: <a href="https://github.com/muhme/quote_joomla/wiki/%E3%83%98%E3%83%AB%E3%83%97">ヘルプ</a>。
</p>
<p><%= image_tag("wordpress.png", :alt => "WordPress logo", :title => "WordPress", size: '16x16') %>
   CMSのWordPressに見積書を統合するためのWordPressモジュールがあります。こちらでヘルプが見つかります:<a href="https://github.com/muhme/quote_wordpress/wiki/%E3%83%98%E3%83%AB%E3%83%97">ヘルプ</a>.
</p>

<h2>API</h2>
<p>Application Programming Interface (API) が利用可能です： <a href="https://api.zitat-service.de" target="_blank">https://api.zitat-service.de</a>。
   例えば、以下のリンクは日本語でランダムな引用を提供します：
   <a href="https://api.zitat-service.de/v1/quote_html?language=ja" target="_blank">https://api.zitat-service.de/v1/quote_html?language=ja</a>.
   <a href="https://api.zitat-service.de/v1/explorer" target="_blank">API Explorer</a>で利用可能なパラメーターを確認したり、IDをリストしたり、テストを行うことができます。
</p>

<h3>iframe</h3>
<p>
iframeを使用してページに引用を表示することができます。
デザインはCascading Style Sheets (CSS) でカスタマイズすることができます。以下は例です：</p>
<iframe src="https://api.zitat-service.de/v1/quote_html?language=ja&target=quotes&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"></iframe>
<p>この組み込みのためのiframeコードは：
<div class="code">&lt;iframe src="https://api.zitat-service.de/v1/quote_html?language=ja&target=quotes&style=https://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"&gt;&lt;/iframe&gt;</div>
</p>
<p>最初のテストとして、このコードをそのまま使用することができます。</p>

<h3>CSS</h3>
<p>あなたのウェブサイトにiframeを組み込んだら、デザインを個別にカスタマイズすることができます。
そのためには<a href="https://www.zitat-service.de/quote.css">quote.css</a>のファイルをテンプレートとして使用し、あなたのニーズに合わせてカスタマイズすることができます。あなたの独自のCSSは<code>style</code> パラメーターで組み込むことができます。
<div>クラス<i>quote</i>のDIV要素は全体の引用を囲んでおり、ここで枠を設定することができます。含まれるのは、引用のためのクラス<i>quotation</i>と著者やソースのためのクラス<i>source</i>の2つのDIV要素です。</div>

<h3>パラメータ</h3>
<p>さまざまなパラメーターで引用の選択をカスタマイズすることができます。
IDは常に一意の番号として使用されます。
例として、英語（language=en）で、政治（categoryId=147）のカテゴリーのランダムな引用：<br /><a href="https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en" target="_blank">https://api.zitat-service.de/v1/quote_html?categoryId=147&language=en</a></p>
<p><i>target</i> パラメーターは、例えば iframe を使用してウェブページに統合するために重要です。
   安全上の理由から、元のページ内で新しいウェブページを開くことは許可されていません。
   <i>target</i> パラメーターにより、リンクを新しいタブまたはウィンドウで開くことができます。
</p>

<h2>実践例</h2>
<p>引用サービスを組み込んだいくつかのウェブサイトの提案（ステータス 2024年2月3日）：</p>
<ul>
  <li><a target="_blank" href="https://viskeert.de">Interessengemeinschaft Visquard</a> (API, iframe, one.com ウェブサイトビルダー, カテゴリ 東フリジア)</li>
  <li><a target="_blank" href="http://szloszjar.com">Georg Szloszjar</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.ewattingen.com">Michael Faller – WebDesign und mehr</a> (Joomla, 新しいタブ)</li>
  <li><a target="_blank" href="https://www.augederseele.de">Foto- und Videoblog von Angel und Andreas</a> (Joomla)</li>
  <li><a target="_blank" href="https://buggy-club-schweiz.ch">Buggy Club Schweiz</a> (Joomla)</li>
  <li><a target="_blank" href="https://samariter-niedergoesgen.ch">Samariterverein Niedergösgen</a> (Joomla)</li>
  <li><a target="_blank" href="https://www.consulting.heikol.de/en">Systemberatung Heiko Lübbe</a> (API, JavaScript, カテゴリー プログラミング, ユーザー heiko, 言語 ドイツ語)</li>
  <li><a target="_blank" href="https://www.heikol.de">Heiko Lübbeのホームページ</a> (API, iframe)</li>
</ul>
