<h1>パスワードをリセット</h1>

<p>ウェブサイト <a href="https://www.zitat-service.de/ja">zitat-service.de</a> のユーザー名 "<%= @user.login %>" は、次のリンクを使って新しいパスワードを設定できます。</p>
   <%= link = url_for(controller: :password_resets, locale: I18n.locale, action: :edit, id: @user.perishable_token, login: @user.login); link_to(link, link) %> 
</p>
<p>問題がある場合は、<a href="mailto:heiko.luebbe@zitat-service.de">heiko.luebbe@zitat-service.de</a> までメールでお問い合わせください。</p>
<p>頑張ってください<br />ハイコ・リュッベ</p>
