<h1>Скидання пароля</h1>

<p>Для імені користувача "<%= @user.login %>" на веб-сайті <a href="https://www.zitat-service.de/uk">zitat-service.de</a> можна встановити новий пароль за допомогою наступного посилання:</p>
   <%= link = url_for(controller: :password_resets, locale: I18n.locale, action: :edit, id: @user.perishable_token, login: @user.login); link_to(link, link) %> 
</p>
<p>Якщо у вас виникли проблеми, будь ласка, надішліть електронного листа на <a href="mailto:heiko.luebbe@zitat-service.de">heiko.luebbe@zitat-service.de</a> відправити.</p>
<p>Багато успіхів<br />Хайко Люббе</p>
