<h1>Reset Password</h1>

<p>For the username "<%= @user.login %>" on the website <a href="https://www.zitat-service.de/en/">zitat-service.de</a>, you can set a new password using the following link:</p>
   <%= link = url_for(controller: :password_resets, locale: I18n.locale, action: :edit, id: @user.perishable_token, login: @user.login); link_to(link, link) %> 
</p>
<p>If you encounter any problems, please send an email to <a href="mailto:heiko.luebbe@zitat-service.de">heiko.luebbe@zitat-service.de</a>.</p>
<p>Good luck<br />Heiko</p>
