<h1>Restablecer contraseña</h1>

<p>Para el nombre de usuario "<%= @user.login %>" en el sitio web <a href="https://www.zitat-service.de/es">zitat-service.de</a>, puedes establecer una nueva contraseña utilizando el siguiente enlace:</p>
   <%= link = url_for(controller: :password_resets, locale: I18n.locale, action: :edit, id: @user.perishable_token, login: @user.login); link_to(link, link) %> 
</p>
<p>Si tienes problemas, envía un correo electrónico a <a href="mailto:heiko.luebbe@zitat-service.de">heiko.luebbe@zitat-service.de</a>.</p>
<p>Mucha suerte<br />Heiko</p>
