<h1>Kennwort zurücksetzen</h1>

<p>Für den Benutzernamen "<%= @user.login %>" der Website <a href="https://www.zitat-service.de/de">zitat-service.de</a> kann mit dem folgenden Link ein neues Kennwort gesetzt werden.</p>
   <%= link = url_for(controller: :password_resets, locale: I18n.locale, action: :edit, id: @user.perishable_token, login: @user.login); link_to(link, link) %> 
</p>
<p>Bei Problemen bitte eine E-Mail an <a href="mailto:heiko.luebbe@zitat-service.de">heiko.luebbe@zitat-service.de</a> schicken.</p>
<p>Viele Erfolg<br />Heiko</p>
