/* css for quotes from Heiko Lübbe for Kristin Grasser */
BODY {
    font-size: 16px;
    font-style: normal;
    font-color: black;
    background-color: #ffe0e0;
    font: Verdana, Helvetica, Arial;
    font-family: sans-serif;
}
.quote .quotation {
    font-style: italic;
}
.quote .quotation a:link, .quote .quotation a:visited, .quote .quotation a:focus {
    color: black;
    text-decoration: none;
    background: url(http://www.mission-life.at/img/img_bullet_off.gif) no-repeat left;
}
.quote .quotation a:hover, .quote .quotation a:active {
    color: black;
    text-decoration: none;
    background: url(http://www.mission-life.at/img/img_bullet_on.gif) no-repeat left;
}
.quote .source {
    margin-top: 4px;
}
.quote .source a:link, .quote .source a:visited, .quote .source a:focus {
    color: black;
    text-decoration: none;
    background: url(http://www.mission-life.at/img/img_bullet_off.gif) no-repeat left;
}
.quote .source a:hover, .quote .source a:active {
    color: black;
    text-decoration: none;
    background: url(http://www.mission-life.at/img/img_bullet_on.gif) no-repeat left;
}
