<h1 class="error">Nicht gefunden</h1>
<p>
Entschuldige bitte, die Seite wurde nicht gefunden.
</p>
<p>
Wenn das ein Fehler ist, dann schreibe uns bitte eine: <%= link_to "Email", :controller => "start", :action => "contact" %>
</p>