<h1>Zitate einbinden</h1>
<p>
Du kannst die Zitate in Deine Homepage einbauen.
Probiere doch einmal den Aufruf: <a href="http://www.zitat-service.de/quote" target="_blank">http://www.zitat-service.de/quote</a>. Mit "Seite neu Laden" erh&auml;ltst Du das n&auml;chste Zufallszitat in Deinem Browser.
</p>
<h2>Joomla</h2>
<p>Die Einbindung mit dem CMS Joomla wird hier beschrieben: <%= link_to 'joomla', :action => 'joomla' %>.</p>
<h2>IFRAME und CSS</h2>
<p>
Die Einbindung in Deine Seiten erfolgt mit inline frames (iframe) und kann mit cascading stylesheets (CSS) an Deine Seite angepasst werden. Hier erst einmal ein Beispiel, wie das dann aussieht:
</p>
<iframe src="http://www.zitat-service.de/quote?style=http://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"></iframe>
<p>Der iframe-Eintrag in dieser Seite ist:
<div class="code">&lt;iframe src="http://www.zitat-service.de/quote?style=http://www.zitat-service.de/quote.css" frameborder="1" scrolling="auto" width="700"&gt;&lt;/iframe&gt;</div>
</p>
<p style="clear: both;">&Uuml;bernimm ihn einfach f&uuml;r Deinen ersten Test.</p>
<h2>CSS</h2>
<p>Wenn Du das iframe erfolgreich in Deine Seite eingebunden hast,
dann kannst Du Dir selbst ein CSS-Datei nach Deinen W&uuml;nschen gestalten.
Dazu kannst Du als Vorlage <a href="http://www.zitat-service.de/quote.css">quote.css</a> benutzen und f&uuml;r Dich anpassen. Dein eigenes CSS bindest Du dann mit dem Parameter <code>style</code> ein</b>.
Das DIV-Element der Klasse <i>quote</i> umschlie&szlig;t das gesamte Zitat, hier kannst Du z.B. einen Rahmen setzen. Enthalten sind zwei DIV-Elemente der Klassen <i>quotation</i> f&uuml;r das Zitat und <i>source</i> f&uuml;r den Autor und die Quelle.
<h2>Parameter</h2>
<p>F&uuml;r die Zitat-Abfrage kannst Du - neben dem Parameter <i>style</i> f&uuml;r das Stylesheet - die Parameter
<i>category</i> f&uuml;r die Kategorie, <i>user</i> f&uuml;r den Benutzernamen und <i>author</i> f&uuml;r den Namen des Autors angeben.
Du erh&auml;ltst dann nur Zitate aus dieser Kategorie, von diesem Benutzer oder dem Autoren mit diesem Nachnamen.
Die Zitate von Einstein erh&auml;ltst Du z.B. mit:
<div class="code">http://www.zitat-service.de/quote?author=Einstein</code></div>
<p style="clear: both;">Mit dem Parameter <i>content_only</i> wird das Zitat nur mit CSS-DIV's, also ohne HTML-header, geliefert.</p>
<p>Mit dem Parameter <i>encoding</i> wird die Kodierung angegeben. Voreingestellt ist ISO-8859-1, eine &Auml;nderung in z.B. UTF-8 ist mit diesem Parameter möglich.</p>
<p>
Ein weiterer Parameter ist <i>window</i>. Ohne diesen Parameter werden Links im aktuellen Fenster (_parent) geöffnet. Mit z.B. <i>window=quote</i> werden die Links dann in einem neuen Fenster geöffnet.</p>
</p>
<p>Die Parameter k&ouml;nnen auch kombiniert werden. Die Abfrage aller Zitate des Benutzers "heiko" aus der Kategorie "WasBedeutetLiebe" und mit der Angabe eines Stylesheets erfolgt zum Beispiel mit:
<div class="code">http://www.zitat-service.de/quote?user=heiko&category=WasBedeutetLiebe&style=http://www.zitat-service.de/quote.css</code></div>
<h2 style="clear: both; margin-top: 3em;">Praxis-Beispiele</h2>
<ul>
<li>aus allen Zitaten, mit eigenem CSS (Rechts formatiert, Zitat rot und Quelle grau) - <a target="_blank" href="http://www.soul-consulting.de">Soul Consulting</a></li>
<li>der Kategorie Fussball, rechts - <a target="_blank" href="http://www.fsv1950-wachow-tremmen.de">FSV1950-Wachow-Tremmen.de</a></li>
<li>der Kategorie Programmieren des Benutzers heiko - <a target="_blank" href="http://www.consulting.heikol.de">Systemberatung Heiko Lübbe</a></li>
<li>der Kategorie Glaube - <a target="_blank" href="http://pfarreiengemeinschaft-morbach.de/">Katholisches Pfarramt Mohrbach</a></li>
</ul>
<p>Als Anregung hier noch einige weitere:</p>
<ul>
  <li><a target="_blank" href="http://burghexen-alttrauchburg.de/">NZ Burghexen Alttrauchburg e.V. 1994</li>
  <li><a target="_blank" href="http://www.oms-simonsgasse.at">OKMS - Simonsgasse</a></li>
  <li><a target="_blank" href="http://mv-heimatklang.at/">Musikverein Heimatklang St. Marein im Mürztal</a></li>
  <li><a target="_blank" href="http://www.alwinhinkel.de/">Alwin &amp; Anna Hinkel</a></li>
  <li><a target="_blank" href="http://koitzsch.info">Thomas Koitzsch</a></li>
  <li><a target="_blank" href="http://kurd-akad.com/">Netzwerk kurdischer AkademikerInnen e.V.</a></li>
  <li><a target="_blank" href="http://traeumlis-welt.de/">Träumlis Welt</a></li>
  <li><a target="_blank" href="http://bürgerverein-bruchhausen.de/">St. Laurentius - Josefs - Bürgerverein Bruchhausen</a></li>
  <li><a target="_blank" href="http://gewerbering.at/">Gewerbering Strasshof</a></li>
</ul>
