<%
  authors = "#{@authors.total_entries} "
  authors += @authors.total_entries == 1 ? "Autor, der" : "Autoren, die"
  if params[:letter] == "*"
  	authors += " nicht mit A-Z "
  else
  	authors += " mit \"" + params[:letter].first + "\" "
  end
  authors += @authors.total_entries == 1 ? "beginnt" : "beginnen"
%>
<h1><%= authors %></h1>

<%= render 'list_content' %>

<% if logged_in? %>
    <p class="ListNavi">
      <% form_tag(:action => 'new') do %>
        <%= submit_tag "Neu" %>
      <% end %>
    </p>
<% end %>