<% authors = "#{@authors.total_entries} #{t("g.authors", count: @authors.total_entries)}, #{t(".lastname_starts")} "
  if params[:letter] == "*"
    authors += " #{t(".not_a_letter")}"
  else
    authors += " #{t(".letter", letter: params[:letter].first)}"
  end %>
<h1><%= authors %></h1>

<!-- NICE sorting list in view jumps in complete author list, better to sort only authors for this one letter -->
<%= render "list_content" %>
