# hlu, 2018, March 15th - 2018, May 17th
# zitat-service.de
#
#   R - redirect
# 301 - Moved Permanently
#   L - last rule
#  NE - not escape #
# QSD - discard query string
# QSA - pass query string

AddDefaultCharset utf-8
RewriteEngine On

# 1st rewrite any request not using subdomain www
#
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 2nd rewrite https, if missing
#
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# CGI Perl script
#
RewriteRule ^quote$ fcgi-bin/quote.cgi [QSA,L]

# permanent redirect for changed URL's from Rails 2.0 to Rail 5.1.5 update
#
RewriteRule quotation[/]*$                             /quotations                   [R=301,L,NE]
RewriteRule category[/]*$                              /categories                   [R=301,L,NE]
RewriteRule author[/]*$                                /authors                      [R=301,L,NE]
RewriteRule ^quotation/show/([0-9]+)$                  /quotations/$1                [R=301,L,NE]
RewriteRule ^category/show/([0-9]+)$                   /categories/$1                [R=301,L,NE]
RewriteRule ^author/show/([0-9]+)$                     /authors/$1                   [R=301,L,NE]
#
RewriteCond %{REQUEST_URI}  ^/category/list_by_letter$
RewriteCond %{QUERY_STRING} ^letter=([A-Z\*])$
RewriteRule ^(.*)$                                     /categories/list_by_letter/%1 [R=301,L,NE,QSD]
#
RewriteCond %{REQUEST_URI}  ^/author/list_by_letter$
RewriteCond %{QUERY_STRING} ^letter=([A-Z\*])$
RewriteRule ^(.*)$                                     /authors/list_by_letter/%1    [R=301,L,NE,QSD]
#
RewriteCond %{REQUEST_URI}  ^/quotation/list_by_user$
RewriteCond %{QUERY_STRING} ^user=(.+)$
RewriteRule ^(.*)$                                     /quotations/list_by_user/%1   [R=301,L,NE,QSD]
