/* css for quotes in an iframe */
BODY {
    text-align: center;
    font-color: black;
    background-color: #ddffdd;
    font-family: Heveticva,Arial,sans-serif;
}
.quote {
    border: 1px solid black;		 	
    padding: 20px;
    margin: 10px;
    background-color: #eee;
}
.quote .quotation a:link, .quote .quotation a:visited, .quote .quotation a:focus {
    color: black;
    text-decoration: none;
}
.quote .quotation a:hover, .quote .quotation a:active {
    color: blue;
    text-decoration: none;
}
.quote .source {
    color: gray;
}
.quote .source a:link, .quote .source a:visited, .quote .source a:focus {
    color: gray;
    text-decoration: none;
}
.quote .source a:hover, .quote .source a:active {
    color: blue;
    text-decoration: underline;
}
