<% if @authors.present? and @authors.count > 0 %>
  <div id="authors_list">
  <% for i in 0..(@authors.length - 1) do %>
    <%= link_to "#{@authors[i].name}, #{@authors[i].firstname}, #{@authors[i].description}"[0,60], :controller => 'quotations', :action => 'author_selected', id: @authors[i], modus: modus  %>
    <br />
  <% end %>
  </div>
<% end %>
