<%= turbo_frame_tag :search_author_results do %>
  <% if authors.present? and authors.count > 0 %>
    <div id="authors_list">
      <% authors.each do |author| %>
        <%= link_to author_selected_name(author.id), :controller => 'quotations', :action => 'author_selected', author_id: author  %><br />
      <% end %>
    </div>
  <% end %>
<% end %>
