<% pattern = h(params[:pattern]) %>
<h1><%= "#{number_with_delimiter(@quotations.total_entries)} #{t('g.quotes', count: @quotations.total_entries)}" %> <%= " #{t(".pattern", pattern: pattern)}" if pattern.present? %></h1>

<%= render :partial => 'list_content' %>
