<h1><%= "#{number_with_delimiter(@quotations.total_entries)} #{t('g.quotes', count: @quotations.total_entries)} #{t(".quotations", author: @author.get_author_name_or_blank)}" %></h1>
<%= render 'list_content' %>
