<p id="notice"><%= notice %></p>

<p>
  <strong>Quotation:</strong>
  <%= @quotation.quotation %>
</p>

<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>
