/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #ddffdd;
    color: #000;
    background-image: image-url("flower.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}

@font-face {
    font-family: "Gondoliere";
    src: font-url("Gondoliere.ttf") format("truetype");
}

textarea {
    font-family: inherit;
    /* not use monospace */
}

#side {
    background: #bb88bb;
    padding: 0.5em;
    border: 1px solid black;
    display: block;
    /* in combination with width necessary for IE6 */
    width: 6em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

#content {
    position: absolute;
    top: 0.5em;
    left: 9em;
    margin-right: 1em;
    hyphens: auto;
    orphans: 3;
    padding: 0em;
    widows: 3;
    -ms-hyphenate-limit-chars: auto 5;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphens: auto;
    -webkit-hyphenate-limit-chars: auto 5;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphens: auto;
    text-align: justify;
    width: calc(100% - 10em);
}

pre {
    color: inherit;
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;
    text-decoration: none;
}

a:link {
    border-bottom: 1px dashed #000;
}

a:visited {
    border-bottom: 1px dashed #000;
}

a:hover {
    background-color: #bb88bb;
}

a.no-decoration,
a:link img,
a:visited img {
    text-decoration: none;
    border-bottom: none;
}

div.randomquote * a {
    border: none;
}

.actions a,
.ListActions a,
#side * a,
a.not_dashed {
    color: #000;
    text-decoration: none;
    border: none;
}

#side * a:hover {
    color: #fff;
    background-color: #000;
    border: none;
}

h1 {
    font-family: Gondoliere, Comic Sans MS, serif;
    color: #208020;
    margin-top: 1ex;
    padding-top: 0px;
}

h1.error {
    color: red;
}

h2 {
    font-family: Gondoliere, Comic Sans MS, serif;
    color: #208020;
    padding-top: 1ex;
    margin-bottom: 0.5ex;
}

.locale_ja h1,
.locale_uk h1 {
    font-family: serif;
    font-weight: bold;
    font-style: italic;
}

.locale_ja h2,
.locale_uk h2 {
    font-family: serif;
    font-weight: bold;
    font-style: italic;
}

p {
    margin-top: 0.5ex;
}

.field_with_errors {
    color: red;
}

#error_explanation,
#error_explanation h2 {
    color: #f00;
}

td {
    background: #ddffdd;
    /* hack? to disable transparency for tr */
}

tr.ListLine1 td {
    background-color: #f0f0f0;
}

th,
tr.ListLine0 td {
    background-color: #e0e0e0;
}

.text-right {
    text-align: right;
}

.random_quote {
    color: black;
    border: 2px solid #208020;
    padding: 8px;
    margin-left: 9em;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.flex-center,
.quote,
.author {
    display: flex;
    justify-content: center;
    align-items: center;
}

#notice {
    color: #006400;
}

#error {
    color: red;
}

span#side div,
span#side p {
    text-align: center;
}

#logo {
    /* padding: 12px 1px 24px 24px;*/
    padding: 12px 0 24px 0;
}

.logo:hover {
    content: image-url("quote_service_32_black.png");
}

.ListSource,
.ListSource a {
    color: #777;
}

.ListSource a:hover {
    color: #000;
}

.pagination {
    padding: 3px;
    margin: 3px;
}

.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #208020;
    background-color: #ddffdd;
    /* make non-transparent */
    text-decoration: none;
    color: black;
}

.pagination a:hover,
.pagination a:active {
    border: 1px solid #208020;
}

.pagination em.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #208020;
    font-weight: bold;
    background-color: #208020;
    color: white;
    font-style: normal
}

.pagination *.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #208020;
    background-color: #ddffdd;
    /* make non-transparent */
    color: #999;
    font-style: normal
}

.randomquote_title {
    color: #777;
}

.randomquote {
    border: 1px solid;
    padding: 10px;
    display: inline-block;
}

.ListActions {
    vertical-align: middle;
    text-align: center;
}

.code {
    float: left;
    font-family: courier, sans-serif;
    font-size: 80%;
    color: black;
    background-color: #ddd;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    text-align: left;
}

.example {
    color: #777;
}

.border,
.border th,
.border td {
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    vertical-align: top;
}

table#letter {
    padding: 0px;
    margin: 0.2em 0 0 0;
}

table#letter td {
    padding: 0px;
    margin: 0px;
    font-size: 60%;
    text-align: center;
    background: #bb88bb;
    /* hack? to disable transparency for tr */
}

.gray-text,
table#letter td#unused {
    color: gray;
}

p#letter {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

dt {
    font-weight: bold;
}

.table,
table {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.td,
table * {
    text-align: left;
}

.field {
    margin-bottom: 1em;
    text-align: left;
}

.top_space_field {
    margin-bottom: 1em;
    margin-top: 1em;
}

input {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
    background-color: #bb88bb;
}

.button_to input {
    font-size: 18px;
}

div#categories_list,
div#authors_list {
    font-size: 80%;
    border: 2px solid darkblue;
    border-top: 0;
    background-color: white;
    position: absolute;
    z-index: 10;
}

div#authors_list a:link,
div#categories_list a:link,
div.no_bottom_field a:link {
    border-bottom: 0;
    /* links without underlines */
}

table#environment td {
    border: 1px solid black;
    text-align: center;
}

.table,
table#details {
    /* make show detail tables non-transparent */
    background-color: #ddffdd;
    border-spacing: 0 0.5ex;
    border: 1px solid black;
    padding: 0.5em;
    margin-bottom: 0.5em
}

.border-bottom,
table#details tr:not(:last-child) td {
    border-bottom: 1px solid #DDD;
}

@keyframes ligthgreen {
    from {
        background-color: lightgreen;
    }

    to {
        background-color: white;
    }
}

input[type="search"]#author.animated {
    animation-name: ligthgreen;
    animation-duration: 5s;
    display: inline-block;
    background-color: white;
    border: 1px #767676 solid;
    border-radius: 3px;
    height: inherit;
}

a.animated {
    animation-name: ligthgreen;
    animation-duration: 5s;
    display: inline-block;
}

div.large_right {
    padding: 0 0 1em 0
}

@media(min-width:768px) {
    div.large_right {
        float: right;
        padding: 0 0 2em 2em
    }
}

/* locale */
#locale {
    margin-bottom: 12px;
}

.language-selector {
    cursor: pointer;
}

#language-dropdown {
    position: absolute;
    background-color: #ddffdd;
    opacity: 1;
    min-width: 100px;
    border: 1px black solid;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 20;
}

.language-option {
    padding: 6px;
    cursor: pointer;
}

span#side div.language-option {
    text-align: left;
}

.language-option:hover {
    background-color: #bb88bb;
}

.language-selector:hover {
    color: white;
    background-color: black;
}

.flags {
    display: inline-block;
    width: 5ch;
}

.hidden {
    display: none;
    border: 1px solid green;
}

.padding-left-2em {
    padding-left: 2em;
}

.padding-left-10px {
    padding-left: 10px;
}

.opacity-25 {
    opacity: 0.25;
}

.opacity-50 {
    opacity: 0.5;
}

.font-size-smaller {
    font-size: smaller;
}

div#comments.table {
    background-color: #ddffdd;
    border-spacing: 0 0.5ex;
    border: 1px solid black;
    margin-top: 1em;
    display: table;
    border-collapse: collapse;
}

div.tdata {
    padding: 1px;
    margin: 4px;
}

div.tdata:blank {
    background-color: red;
}

div.td {
    display: table-cell;
    padding: 1px;
}

div.tr {
    display: table-row;
}

div.table-row-group {
    display: table-row-group;
}

div.padding-cell {
    padding: 2px 4px 2px 4px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-both-after::after {
    clear: both;
}

form#new_comment_form {
    margin-bottom: 1em;
}

.flex {
    display: flex;
}

.write-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
}
.margin-bottom-4 {
    margin-bottom: 4px;
}
