/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #ddffdd;
    color: #000;
    background-image: image-url("flower.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}

@font-face {
    font-family: "Gondoliere";
    src: font-url("Gondoliere.ttf") format("truetype");
}

textarea {
    font-family: inherit;
    /* not use monospace */
}

#side {
    background: #bb88bb;
    padding: 0.5em;
    border: 1px solid black;
    display: block;
    /* in combination with width necessary for IE6 */
    width: 6em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

#content {
    position: absolute;
    top: 0.5em;
    left: 9em;
    margin-right: 1em;
    hyphens: auto;
    orphans: 3;
    padding: 0em;
    widows: 3;
    -ms-hyphenate-limit-chars: auto 5;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphens: auto;
    -webkit-hyphenate-limit-chars: auto 5;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphens: auto;
    hyphenate-limit-chars: auto 5;
    text-align: justify;
    width: calc(100% - 10em);
}

pre {
    color: inherit;
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;
    text-decoration: none;
}

a:link {
    border-bottom: 1px dashed #000;
}

a:visited {
    border-bottom: 1px dashed #000;
}

button:hover, a:hover {
    background-color: #bb88bb;
}

a.no-decoration,
a:link img,
a:visited img {
    text-decoration: none;
    border-bottom: none;
}

div.randomquote * a {
    border: none;
}

.actions a,
.ListActions a,
#side * a,
a.not_dashed {
    color: #000;
    text-decoration: none;
    border: none;
}

#side * a:hover {
    color: #fff;
    background-color: #000;
    border: none;
}

h1 {
    font-family: Gondoliere, Comic Sans MS, serif;
    color: #208020;
    margin-top: 1ex;
    padding-top: 0px;
}

h1.error {
    color: red;
}

h2, h3 {
    font-family: Gondoliere, Comic Sans MS, serif;
    color: #208020;
    padding-top: 1ex;
    margin-bottom: 0.5ex;
}

.locale_ja h1,
.locale_uk h1 {
    font-family: serif;
    font-weight: bold;
    font-style: italic;
}

.locale_ja h2,
.locale_uk h2 {
    font-family: serif;
    font-weight: bold;
    font-style: italic;
}

p {
    margin-top: 0.5ex;
}

.field_with_errors {
    color: red;
}

#error_explanation,
#error_explanation h2 {
    color: #f00;
}

td {
    background: #ddffdd;
    /* hack? to disable transparency for tr */
}

tr.ListLine1 td {
    background-color: #f0f0f0;
}

th,
tr.ListLine0 td {
    background-color: #e0e0e0;
}

.text-right {
    text-align: right;
}

.random_quote {
    color: black;
    border: 2px solid #208020;
    padding: 8px;
    margin-left: 9em;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.flex-center,
.quote,
.author {
    display: flex;
    justify-content: center;
    align-items: center;
}

#notice {
    color: #006400;
    text-align: left;
}

#warning {
    color: darkorange;
    text-align: left;
}

#error {
    color: red;
    text-align: left;
}

span#side div,
span#side p {
    text-align: center;
}

#logo_div {
    padding: 12px;
}
#logo16 {
    width: 16px;
    height: 16px;
}
#logo24 {
    width: 24px;
    height: 24px;
}
#logo32 {
    width: 32px;
    height: 32px;
}
#logo32:hover {
    background-color: #000;
}
#logo16, #logo24, #logo32 {
    display: inline-block;
    background-image: image-url("zitat-service.svg");
    background-repeat: no-repeat;
    background-size: contain; /* up-/downscale */
}

.ListSource,
.ListSource a {
    color: #777;
}

.ListSource a:hover {
    color: #000;
}

.pagination {
    padding: 3px;
    margin: 3px;
}

.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #208020;
    background-color: #ddffdd;
    /* make non-transparent */
    text-decoration: none;
    color: black;
}

.pagination a:hover,
.pagination a:active {
    border: 1px solid #208020;
}

.pagination em.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #208020;
    font-weight: bold;
    background-color: #208020;
    color: white;
    font-style: normal
}

.pagination *.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #208020;
    background-color: #ddffdd;
    /* make non-transparent */
    color: #999;
    font-style: normal
}

.randomquote_title {
    color: #777;
}

.randomquote {
    border: 1px solid;
    padding: 10px;
    display: inline-block;
}

.ListActions {
    vertical-align: middle;
    text-align: center;
}

.code {
    float: left;
    font-family: courier, sans-serif;
    font-size: 80%;
    color: black;
    background-color: #ddd;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 2ex;
    text-align: left;
}

.example {
    color: #777;
}

.border,
.border th,
.border td {
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    vertical-align: top;
}

table#letter {
    padding: 0px;
    margin: 0.2em 0 0 0;
}

table#letter td {
    padding: 0px;
    margin: 0px;
    font-size: 60%;
    text-align: center;
    background: #bb88bb;
    /* hack? to disable transparency for tr */
}

table#contact td:first-child {
    text-align: center;
}
table#contact {
    border-collapse: collapse;
    border: 3px solid darkgray;
}
table#contact td {
    border: 1px solid darkgray;
    padding: 0.5em;
}

.gray-text,
table#letter td#unused {
    color: gray;
}

p#letter {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

dt {
    font-weight: bold;
}

.table,
table {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.td,
table * {
    text-align: left;
}

.field {
    margin-bottom: 1em;
    text-align: left;
}

.top_space_field {
    margin-bottom: 1em;
    margin-top: 1em;
}

input {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
    background-color: #bb88bb;
}

.button_to input {
    font-size: 18px;
}

div#categories_list,
div#authors_list {
    font-size: 80%;
    border: 2px solid darkblue;
    border-top: 0;
    background-color: white;
    position: absolute;
    z-index: 10;
}

div#authors_list a:link,
div#categories_list a:link,
div.no_bottom_field a:link {
    border-bottom: 0;
    /* links without underlines */
}

.table,
table#details {
    /* make show detail tables non-transparent */
    background-color: #ddffdd;
    border-spacing: 0 0.5ex;
    border: 1px solid black;
    padding: 0.5em;
    margin-bottom: 0.5em
}

.border-bottom,
table#details tr:not(:last-child) td {
    border-bottom: 1px solid #DDD;
}
table#details tr:not(:last-child) td.border-bottom-0 {
    border-bottom: 0;
}

@keyframes ligthgreen {
    from {
        background-color: lightgreen;
    }

    to {
        background-color: white;
    }
}
@keyframes lightgreen-to-transparent {
    from {
        background-color: lightgreen;
    }
    to {
        background-color: transparent;
    }
}
@keyframes darkorange-to-transparent {
    from {
        background-color: darkorange;
    }
    to {
        background-color: transparent;
    }
}

input[type="search"]#author.animated {
    animation-name: ligthgreen;
    animation-duration: 5s;
    display: inline-block;
    background-color: white;
    border: 1px #767676 solid;
    border-radius: 3px;
    height: inherit;
}

a.animated {
    animation-name: ligthgreen;
    animation-duration: 5s;
    display: inline-block;
}

#avatar_hint {
    animation-name: lightgreen-to-transparent;
    animation-duration: 5s;
    animation-fill-mode: forwards; /* make sure the last keyframe styles persist, as also using from JS */
}
#avatar_error {
    animation-name: darkorange-to-transparent;
    animation-duration: 5s;
}

div.large_right {
    padding: 0 0 1em 0
}

@media(min-width:768px) {
    div.large_right {
        float: right;
        padding: 0 0 2em 2em
    }
}

/* locale */
#locale {
    margin-bottom: 12px;
}

.language-selector {
    cursor: pointer;
}

#language-dropdown {
    position: absolute;
    background-color: #ddffdd;
    opacity: 1;
    min-width: 100px;
    border: 1px black solid;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 20;
}

.language-option {
    padding: 6px;
    cursor: pointer;
}

span#side div.language-option {
    text-align: left;
}

.language-option:hover {
    background-color: #bb88bb;
}

.language-selector:hover {
    color: white;
    background-color: black;
}

.flags {
    display: inline-block;
    width: 2ch;
}

.hidden {
    display: none;
    border: 1px solid green;
}

.padding-left-2em {
    padding-left: 2em;
}

.padding-left-10px {
    padding-left: 10px;
}
.padding-left-0-5ch {
    padding-left: 0.5ch;
}
.margin-bottom-0-2em {
    margin-bottom: 0.2em;
}
.margin-top-1ex {
    margin-top: 1ex;
}

.opacity-25 {
    opacity: 0.25;
}

.opacity-50 {
    opacity: 0.5;
}

.font-size-smaller {
    font-size: smaller;
}

div#comments.table {
    background-color: #ddffdd;
    border-spacing: 0 0.5ex;
    border: 1px solid black;
    margin-top: 1em;
    display: table;
    border-collapse: collapse;
}

div.tdata {
    padding: 1px;
    margin: 4px;
}

div.tdata:blank {
    background-color: red;
}

div.td {
    display: table-cell;
    padding: 1px;
    width: 100%; // important to have edit-button, delete-button and language flag right-bound
}

div.tr {
    display: table-row;
}

div.table-row-group {
    display: table-row-group;
}

div.padding-cell {
    padding: 2px 4px 2px 4px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-both {
    clear: both;
}

.clear-both-after::after {
    clear: both;
}

form#new_comment_form {
    margin-bottom: 1em;
}

.flex {
    display: flex;
}

.write-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
}

// word break for links without hyphen
a {
    white-space: normal;
    word-break: break-all;
}
.no-break {
    word-break: normal; /* e.g. fortune quote on home */
}

.margin-right-1em {
    margin-right: 1em;
}
.margin-bottom-4 {
    margin-bottom: 4px;
}
.countdown {
    display: inline-block;
    min-width: 2ch;
    text-align: right;
}
.min-width-8ch {
    min-width: 8ch;
}

.quotes-container {
    display: inline-block;  /* This will make the div only as wide as its contents */
    position: relative;  /* Needed to position the checkboxes div */
    width: 100%;
}
.quotes-pagination {
    font-size: smaller;
    position: absolute;  /* This allows the div to be positioned relative to table-container */
    right: 0;  /* This makes the div float to the right */
    bottom: -27px;  /* Adjust this as needed to position the div below the table */
    z-index: 10; /* if not set, the "Log in with Login to add quotes here." lays over paging buttons */
}
.quotes-container table {
    width: 100%;
}
/* This applies when the screen is 600px or wider */
@media screen and (min-width: 960px) {
    .quotes-container table, .quotes-container, div#comments.table, table#details, .avatar-block {
        width: 800px;
    }
}
.vertical-align-bottom {
    vertical-align: bottom;
}
img.avatar-small {
    /*vertical-align: bottom; - the image is not under the underline of the link */
    width: 20px;
    height: 20px;
}
img.avatar {
    vertical-align: bottom;
    width: 40px;
    height: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}
img.avatar-big {
    vertical-align: bottom;
    width: 80px;
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}
/* overwrite border-bottom: none for linked img.avatar */
a:link img.avatar,
a:visited img.avatar {
    border-bottom: 1px solid black;;
}

.avatar-block {
    border: 1px solid gray;
    padding: 0 1em 1em 1em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    background-color: #ddffdd;
}
.avatar-block h2 {
    padding-top: 0;
}

/* five flags from https://github.com/lipis/flag-icons are used */
.fi {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1em;
    line-height: 0.75em;
    transform: skewX(-10deg);
    border: 1px solid gray;
}
.fi:before {
    content: " ";
}
.fi-de { // Germany
    background-image: url(/images/de.svg);
}
.fi-us { // United States of America
    background-image: url(/images/us.svg);
}
.fi-es { // Spain
    background-image: url(/images/es.svg);
}
.fi-jp {  // Japan
    background-image: url(/images/jp.svg);
}
.fi-ua { // Ukraine
    background-image: url(/images/ua.svg);
}
// having flag in the menu with shadows
.flags .fi, .language-selector .fi {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

/* in comment row, having pencil-button, delete-button and flag in one line */
.float-right .inline-elements {
    display: flex;
    align-items: center;
}
.float-right .inline-elements > * {
    margin-right: 10px;
}
.float-right .inline-elements > *:last-child {
    margin-right: 0;
}

// debug only
.red-border {
    border: 1px solid red;
}
.blue-border {
    border: 1px dashed blue;
}
