<h1>Kategorie bearbeiten</h1>

<%= form_for @category, url: {action: "update"} do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= f.submit 'Speichern' %> &nbsp; 
  <%= link_to(image_tag("eye.png", :alt => 'Auge', :title => 'Anzeigen', :border => 0), {:action => 'show', :id => @category.id}, :class => "not_dashed")%>
<% end %>
<script type="text/javascript">
document.forms[0].category_category.focus();
</script>