<h1><%= @categories.total_entries %> Kategorien</h1>

<%= render 'list_content' %>

<!-- TODO -->
<!-- button styling see https://coding.smashingmagazine.com/2009/11/designing-css-buttons-techniques-and-resources/ -->
    <p class="ListNavi">
      <%= link_to "Neu als Link", :action => "new" %>
    </p>
    
    
<% if logged_in? %>
    <p class="ListNavi">
      <% form_tag(:action => 'new') do %>
        <%= submit_tag "Neu" %>
      <% end %>
    </p>
<% end %>