<% headline = "#{@categories.total_entries} #{t("g.categories", count: @categories.total_entries)}"
  if params[:letter] == "*"
  	headline += " #{t(".not_starting_with_a_letter")}"
  else
  	headline += " #{t(".with_initial_letter", letter: params[:letter].first)}"
  end
%>
  <h1><%= headline %></h1>

  <%= render "list_content" %>
